
script.

  $(document).ready(function() {
    $("#showButton").click(function (e) {
      if (document.getElementById('showButton').innerHTML === 'Show') {
        document.getElementById('secret').type = 'text'
        document.getElementById('showButton').innerHTML = 'Hide'
        //- $('#SearchFieldText').get(0).setAttribute('type', 'text');
      } else {
        document.getElementById('secret').type = 'password'
        document.getElementById('showButton').innerHTML = 'Show'
      }
    })
  })
  function refreshCredentials(consumer) {
    let payload = {
      _id: consumer._id
    }
    console.log('payload', payload)
    $.ajax({
      url : '/api/consumers/resetAPI',
      type : 'POST',
      data : payload,
      dataType:'json',
      success : function(data) {
        var payload = data.payload
        console.log('Data: '+JSON.stringify(data));
        $("#key").val(payload.credentials.api_key)
        $("#secret").val(payload.credentials.api_secret)
      },
      error : function(request,error)
      {
        console.log(request)
        console.log(error)
        console.log("Request: " + JSON.stringify(request));
        return document.getElementById(
            "alertMsg").innerHTML = request.responseJSON.payload
      }
    })
  }
  function changeProductStatus(event, consumer) {
    console.log('consumer', consumer)
    console.log('event', event)
    let payload = {
      _id: consumer._id,
      scope: {}
    }
    if (event.target.id === 'KC') {
      payload.scope.key = 'kibochat'
      payload.scope.value = event.target.checked
    } else if (event.target.id === 'KE') {
      payload.scope.key = 'kiboengage'
      payload.scope.value = event.target.checked
    }
    console.log('payload', payload)
    $.ajax({
      url : '/api/consumers/updateProductStatus',
      type : 'POST',
      data : payload,
      dataType:'json',
      success : function(data) {
        console.log('Data: '+JSON.stringify(data));
      },
      error : function(request,error)
      {
        console.log(request)
        console.log(error)
        console.log("Request: " + JSON.stringify(request));
        return document.getElementById(
            "alertMsg").innerHTML = request.responseJSON.payload
      }
    })
  }
