doctype html
html(lang="en")

  header(class='m-grid__item    m-header ' data-minimize-offset='200' data-minimize-mobile-offset='200')
    div(class='m-container m-container--fluid m-container--full-height')
      div(class='m-stack m-stack--ver m-stack--desktop')
        div(class='m-stack__item m-stack__item--fluid m-header-head' id='m_header_nav')
          div(id='m_header_menu' class='m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark')
            ul(class='m-menu__nav  m-menu__nav--submenu-arrow')
              li(class='m-menu__item  m-menu__item--submenu m-menu__item--rel' data-redirect='true' aria-haspopup='true')
                h3 KiboPush for Developers
          div(id='m_header_topbar' class='m-topbar  m-stack m-stack--ver m-stack--general')
            div(class='m-stack__item m-topbar__nav-wrapper')
              ul(class='m-topbar__nav m-nav m-nav--inline')
                li(class='m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light' data-dropdown-toggle='click')
                    a(href='#' class='m-nav__link m-dropdown__toggle')
                      span(class='m-topbar__userpic')
                        div(style='display:inline-block;marginRight:5px')
                          if user && user.facebookInfo
                            img(src=user.facebookInfo.profilePic class='m--img-rounded m--marginless m--img-centered' alt='')
                          else
                            img(src='https://cdn.cloudkibo.com/public/icons/users.jpg' class='m--img-rounded m--marginless m--img-centered' alt='')
                        div(style='display:inline-block;height:41px')
                          if user
                            span(class='m-nav__link-text' style='line-height:41px;vertical-align:middle;text-align:center') #{user.name}
                              i(class='fa fa-chevron-down')
                          else
                            span(class='m-nav__link-text' style='line-height:41px;vertical-align:middle;text-align:center') Username
                              i(class='fa fa-chevron-down')
                    div(class='m-dropdown__wrapper')
                      span(class='m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust')
                      div(class='m-dropdown__inner')
                        div(class='m-dropdown__header m--align-center')
                          div(class='m-card-user m-card-user--skin-dark')
                            div(class='m-card-user__pic')
                              if user && user.facebookInfo
                                img(src=user.facebookInfo.profilePic class='m--img-rounded m--marginless' alt='')
                              else
                                img(src='https://cdn.cloudkibo.com/public/icons/users.jpg' class='m--img-rounded m--marginless' alt='')
                            div(class='m-card-user__details')
                              if user
                                span(class='m-card-user__name m--font-weight-500') #{user.name}
                              else
                                span(class='m-card-user__name m--font-weight-500') &#32;User&#32;name
                        div(class='m-dropdown__body')
                          div(class='m-dropdown__content')
                            ul(class='m-nav m-nav--skin-light')
                              li(class='m-nav__item')
                                a(class='btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder' href='/logout') Logout
                li(class='btn btn-sm m-btn m-btn--pill m-btn--gradient-from-focus m-btn--gradient-to-danger')
                  a(href='/docs' target='_blank' style='color: white;text-decoration:none;') Documentation
